body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e0f7e0; /* Fondo verde claro */
}

.main-title {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
    color: #2e7d32; /* Color verde oscuro */
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.image-container {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.image-container img {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
}

.form-container {
    width: 300px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #ffffff; /* Fondo blanco para los formularios */
}

.highlight-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
    color: #388e3c; /* Color verde medio */
}

.input-container {
    margin-bottom: 15px;
    text-align: left;
}

.input-container label {
    display: block;
    margin-bottom: 5px;
}

.input-container input,
.input-container select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.submit-button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50; /* Botón verde pasto */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #388e3c;
}