body {
    font-family: Arial, sans-serif;
    background-color: #e0f7e0;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1em;
    text-align: center;
    position: relative;
    overflow: hidden;
}

header h1 {
    margin: 0;
    font-size: 2.5em; /* Tamaño mayor para resaltar */
    animation: slideIn 2s ease-out;
}

header h1 a {
    color: white;
    text-decoration: none;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 1em 0 0 0;
}

nav ul li {
    margin: 0 10px;
    position: relative;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    display: block;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #FFD700;
    color: #4CAF50;
}

#highlight {
    animation: colorChange 7s infinite;
}

@keyframes colorChange {
    0%, 100% {
        color: white;
    }
    50% {
        color: #FFD700;
    }
}

main {
    padding: 20px;
}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.info-block {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    flex: 1 1 calc(50% - 40px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

.info-block.left {
    animation-name: fadeInLeft;
}

.info-block.right {
    animation-name: fadeInRight;
}

@keyframes fadeInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.info-block h2, .info-block h3, .info-block h4, .info-block h5 {
    font-size: 2em; /* Tamaño mayor para resaltar */
    margin-top: 0;
}

.info-block p {
    font-size: 1.2em; /* Tamaño mayor para subtítulo */
}

.info-block img {
    max-width: 100%;
    border-radius: 8px;
}

footer {
    background-color: #4CAF50;
    color: white;
    padding: 0.5em;
    text-align: center;
    position: relative; /* Cambiar de fixed a relative */
    width: 100%;
    bottom: 0;
    margin-top: 20px; /* Añadir margen superior para separación */
}

footer nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

footer nav ul li {
    margin: 0 10px;
}

footer nav ul li a {
    color: white;
    text-decoration: none;
}

footer nav ul li a:hover {
    text-decoration: underline;
    color: #FFD700;
}

.carousel {
    width: 80%;
    margin: auto;
    padding: 20px 0;
}

.carousel img {
    width: 100%;
    height: auto;
}

.button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover {
    background-color: darkgreen;
}

.form-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 5%; /* Márgenes respecto al límite de la página */
}

.contact-form {
    width: 45%;
    margin: auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.contact-form input[type=submit] {
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

.contact-form input[type=submit]:hover {
    background-color: darkgreen;
}

/* Modificación para TalentoTech 2025 GRACIAS */
.talentotech {
    display: none;
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 1em; /* Tamaño más pequeño */
    color: #1E3A8A; /* Azul oscuro */
    font-weight: bold; /* Negrita */
    font-family: 'Roboto', sans-serif; /* Tipo de letra más tecnológico y moderno */
    background-color: #FFD700; /* Fondo amarillo */
    padding: 5px 10px; /* Espaciado interno más pequeño */
    border-radius: 8px; /* Bordes redondeados */
    text-decoration: none; /* Sin subrayado */
    animation: fadeIn 1s ease-in-out forwards;
}

.talentotech:hover {
    background-color: #FFC107; /* Cambio de color al pasar el mouse */
}

.cta-button {
    display: none;
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: #FFD700;
    color: #4CAF50;
    padding: 1em 2em;
    border-radius: 8px 0 0 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

.cta-button a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

h2 {
    text-align: left;
    margin-left: 10%;
}

.title-container {
    text-align: center;
    padding: 20px;
}

.title-container h2 {
    margin: 0;
}

table {
    margin: 0;
    width: 80%;
    text-align: left;
    border-collapse: collapse;
    background-color: white;
}

table, th, td {
    border: none;
    padding: 8px;
}

@media (max-width: 768px) {
    .carousel {
        width: 100%;
    }
    .contact-form {
        width: 90%;
    }
}